@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background: #e8f1f2;
    min-height: 100vh;
}

header nav{
    color: #e8f1f2 ;
    display: flex;
    font-size: 18px;
    gap: 24px;
    font-family: 'Spectral', Arial, Helvetica, sans-serif;
    font-weight:300;
    padding: 0px 16px;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 2;
    background: rgb(48, 48, 48);
    padding: 8px 0px;
}

header nav h1{
    display: inline-block;
    font-size: 40px;
    margin: 0px 72px;
}

header a{
    color: #e8f1f2;
    text-decoration: none;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 14px;
}

header a:hover{
    text-decoration: underline;
}

header a.atual{
    color: white;
    opacity: 1;
    font-weight: 800;
}

header img.banner{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

input[type="submit"], input[type="reset"]{
    color: rgb(0, 102, 255);
    border-color: rgb(0, 102, 255);
    border-radius: 8px;
    text-transform: uppercase;
    height: 32px;
    padding: 0 16px;
    transition: 250ms;
    cursor: pointer;
    outline: none;
    width: fit-content;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background: rgb(0, 102, 255);
    color: white;
}

input[type="submit"]:active, input[type="reset"]:active{
    transform: scale(0.9);
    opacity: 0.8;
}

main{
    padding: 24px 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="date"], select, textarea{
    background: white;
    width: 300px;
    padding: 4px 16px;
    border-radius: 4px;
}

textarea{
    resize: none;
    height: 80px;
}

div label{
    display: inline-block;
    min-width: 150px;
    /* text-align: right; */
}

label.widthauto{
    min-width: auto;
}

table{
    width: 100%;
    border: 2px solid #EEEEEE;    
}

td{
    border: none;
    text-align: center;
}

thead{
    background: rgb(27, 27, 27);
    color: #f0f0f0;
    text-transform: uppercase;    
}

thead tr th{
    min-width: 200px;
    height: 60px;
}

tbody tr{
    background: white;   
}

tbody tr:hover{
    background: #ff5404 !important;
}

tbody tr:nth-child(odd){
    background: #EEEEEE;
}

tbody tr td:hover{
    background: #fd6721 ;
}

tbody tr td{
    height: 100px;
}

tfoot tr td{
    background: rgb(27, 27, 27);
    color: #f0f0f0;
    height: 32px;
    text-align: center;
}

a.voltar{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(48, 48, 48);
    border-radius: 8px;
    padding: 8px 16px;
    transition: 250ms;
}

a.voltar:hover{
    background: rgb(0, 102, 255);
}
